<div class="wrapper">
   <div class="app-header">
   <div class="app-header-container">
      <div class="navigation">
         <mat-icon class="icon">arrow_back</mat-icon>
         <h1 class="title">New Trip Inspection</h1>
      </div>
      <div class="action" (click)="updateClient()">
         <mat-icon class="icon">upgrade</mat-icon>
         <h2 class="name">Submit</h2>
      </div>
   </div>
   </div>

   <!-- content -->
   <div class="user-cards">
      <!-- User and Organization Card -->
      <mat-card class="gray-card w-50">
         <mat-card-content class="name-content">
            <!-- User name -->
            <div class="name">
               <span class="label">User</span>
            </div>
            <!-- Organization name -->
            <div class="organization">
               <span class="label">Organization</span>
            </div>
         </mat-card-content>
      </mat-card>
      <!-- Vehicle Card -->
      <mat-card class="gray-card w-50">
         <mat-card-content class="vehicle-content">
            <!-- Vehicle image -->
            <div class="vehicle-image">
               <img mat-card-image src="../../../assets/images/mustang.webp" alt="vehicle">
            </div>
            <!-- info container -->
            <div class="info-container">
               <!-- Vehicle Fleet Group -->
               <div class="fleet-group">
                  <span class="label">Group A</span>
               </div>
               <!-- Vehicle brand -->
               <div class="brand">
                  <span class="label">FORD</span>
               </div>
               <!-- Vehicle model & Year -->
               <div class="model-year">
                  <span class="label">Model: 50th Aniversary | Year: 2015</span>
               </div>

               <div class="icon-container" (click)="toggleRotate()">
                  <mat-icon class="icon" [@rotate]="rotate">sync</mat-icon>
               </div>
            </div>        
         </mat-card-content>
      </mat-card>
   </div>

   <!-- pre-trip & post-trip mat radio group -->
   <div class="trip-odometer w-100">
      <form [formGroup]="form" class="w-50">
         <mat-radio-group class="radio-group" formControlName="trip">
            <mat-radio-button class="radio-button" value="pre-trip">Pre-Trip</mat-radio-button>
            <mat-radio-button class="radio-button" value="post-trip">Post-Trip</mat-radio-button>
         </mat-radio-group>
      </form>

      <form [formGroup]="form" class="w-50">
         <mat-form-field appearance="outline" class="w-100">
            <input matInput placeholder="Odometer Reading" formControlName="odometer">
            <!-- mat hint -->
            <mat-hint align="start">Last Recorded Odometer Reading: 253260</mat-hint>
         </mat-form-field>
      </form>
   </div>

   <!-- Address and legend -->
   <div class="address-legend">
      <form class="address w-50" [formGroup]="form">
         <mat-form-field appearance="outline" class="w-100 no-subscript">
            <input matInput placeholder="Address" formControlName="address">
            <div class="refresh" (click)="toggleRefresh()" matSuffix>
               <mat-icon class="icon" [@refresh]="refresh">sync</mat-icon>
            </div>
         </mat-form-field>
      </form>
      <div class="legend w-50">
         <!-- Checked -->
         <div class="legend-item">
            <div class="radio-legend checked">
               <mat-icon class="icon green">check</mat-icon>
            </div>
            <span class="label">Checked</span>
         </div>
         <!-- Failed -->
         <div class="legend-item">
            <div class="radio-legend failed">
               <mat-icon class="icon red">close</mat-icon>
            </div>
            <span class="label">Failed</span>
         </div>
         <!-- Not Applicable -->
         <div class="legend-item">
            <mat-icon class="legend-icon black">block</mat-icon>
            <span class="label">Not Applicable</span>
         </div>
      </div>
   </div>

   <!-- Expansion Panels -->
   <div class="expansion-panel-container">
      <!-- Exterior Panel -->
      <mat-expansion-panel class="w-50 expansion-panel" (opened)="exteriorPanelState = true" (closed)="exteriorPanelState = false" hideToggle>
         <mat-expansion-panel-header style="height: 42px; padding: 0 8px;">
         <mat-panel-title style="margin: 0;">
               <div class="panel-title w-60">
                  <mat-icon *ngIf="exteriorPanelState === false" class="purple">add</mat-icon>
                  <mat-icon *ngIf="exteriorPanelState === true" class="purple">remove</mat-icon>
                  <span>Exterior of Vehicle</span>
               </div>
               <!-- Custom radio buttons -->
               <div class="status w-40">
                  <!-- Checked, failed & NA -->
                  <form [formGroup]="form" class="status w-100">
                     <mat-radio-group class="status-group w-100" formControlName="exterior-status">
                        <div class="radio-wrapper checked" (click)="changeStatus('checked', 'exterior-status', $event)">
                           <mat-icon class="icon green" *ngIf="form.get('exterior-status')?.value === 'checked'">check</mat-icon>
                        </div>
                        <div class="radio-wrapper failed" (click)="changeStatus('failed', 'exterior-status', $event)">
                           <mat-icon class="icon red" *ngIf="form.get('exterior-status')?.value === 'failed'">close</mat-icon>
                        </div>
                        <div class="radio-wrapper na" (click)="changeStatus('na', 'exterior-status', $event)">
                           <mat-icon class="icon black" *ngIf="form.get('exterior-status')?.value === 'na'">block</mat-icon>
                        </div>
                     </mat-radio-group>
                  </form>
               </div>
         </mat-panel-title>
         </mat-expansion-panel-header>

         <!-- Content -->
         <!-- Child custom radio buttons -->
         <form [formGroup]="form" class="content" >
            <!-- Tires -->
            <div class="status-inner" formGroupName="exterior-checks" 
               [ngClass]="[form.get('exterior-checks.tires')?.value === 'checked' ? 'checked-row': '',
               form.get('exterior-checks.tires')?.value === 'failed' ? 'failed-row': '',
               form.get('exterior-checks.tires')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Tires</span>
               <mat-radio-group class="status-group" formControlName="tires">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'exterior-checks.tires', $event)"
                  [ngClass]="[form.get('exterior-checks.tires')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('exterior-checks.tires')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'exterior-checks.tires', $event)"
                  [ngClass]="[form.get('exterior-checks.tires')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('exterior-checks.tires')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'exterior-checks.tires', $event)"
                  [ngClass]="[form.get('exterior-checks.tires')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('exterior-checks.tires')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
            <mat-divider class="divider"></mat-divider>
            <!-- /Tires -->
            <!-- Spare Wheel -->
            <div class="status-inner" formGroupName="exterior-checks"
               [ngClass]="[form.get('exterior-checks.spare-wheel')?.value === 'checked' ? 'checked-row': '',
               form.get('exterior-checks.spare-wheel')?.value === 'failed' ? 'failed-row': '',
               form.get('exterior-checks.spare-wheel')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Spare Wheel and Tire</span>
               <mat-radio-group class="status-group" formControlName="spare-wheel">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'exterior-checks.spare-wheel', $event)"
                  [ngClass]="[form.get('exterior-checks.spare-wheel')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('exterior-checks.spare-wheel')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'exterior-checks.spare-wheel', $event)"
                  [ngClass]="[form.get('exterior-checks.spare-wheel')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('exterior-checks.spare-wheel')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'exterior-checks.spare-wheel', $event)"
                  [ngClass]="[form.get('exterior-checks.spare-wheel')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('exterior-checks.spare-wheel')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
            <!-- /Spare Wheel -->
            <mat-divider class="divider"></mat-divider>
            <!-- Lights -->
            <div class="status-inner" formGroupName="exterior-checks"
               [ngClass]="[form.get('exterior-checks.lights')?.value === 'checked' ? 'checked-row': '',
               form.get('exterior-checks.lights')?.value === 'failed' ? 'failed-row': '',
               form.get('exterior-checks.lights')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Lights</span>
               <mat-radio-group class="status-group" formControlName="lights">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'exterior-checks.lights', $event)" 
                  [ngClass]="[form.get('exterior-checks.lights')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('exterior-checks.lights')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'exterior-checks.lights', $event)"
                  [ngClass]="[form.get('exterior-checks.lights')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('exterior-checks.lights')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'exterior-checks.lights', $event)"
                  [ngClass]="[form.get('exterior-checks.lights')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('exterior-checks.lights')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
            <!-- /Lights -->
            <mat-divider class="divider"></mat-divider>
            <!-- Physical Damage -->
            <div class="status-inner" formGroupName="exterior-checks"
               [ngClass]="[form.get('exterior-checks.physical-damage')?.value === 'checked' ? 'checked-row': '',
               form.get('exterior-checks.physical-damage')?.value === 'failed' ? 'failed-row': '',
               form.get('exterior-checks.physical-damage')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Physical Damage</span>
               <mat-radio-group class="status-group" formControlName="physical-damage">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'exterior-checks.physical-damage', $event)"
                  [ngClass]="[form.get('exterior-checks.physical-damage')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('exterior-checks.physical-damage')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'exterior-checks.physical-damage', $event)"
                  [ngClass]="[form.get('exterior-checks.physical-damage')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('exterior-checks.physical-damage')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'exterior-checks.physical-damage', $event)"
                  [ngClass]="[form.get('exterior-checks.physical-damage')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('exterior-checks.physical-damage')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
            <!-- /Physical Damage -->
            <mat-divider class="divider"></mat-divider>
            <!-- Leaking Fluids -->
            <div class="status-inner" formGroupName="exterior-checks"
               [ngClass]="[form.get('exterior-checks.leaking-fluids')?.value === 'checked' ? 'checked-row': '',
               form.get('exterior-checks.leaking-fluids')?.value === 'failed' ? 'failed-row': '',
               form.get('exterior-checks.leaking-fluids')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Leaking Fluids Underneath</span>
               <mat-radio-group class="status-group" formControlName="leaking-fluids">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'exterior-checks.leaking-fluids', $event)"
                  [ngClass]="[form.get('exterior-checks.leaking-fluids')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('exterior-checks.leaking-fluids')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'exterior-checks.leaking-fluids', $event)"
                  [ngClass]="[form.get('exterior-checks.leaking-fluids')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('exterior-checks.leaking-fluids')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'exterior-checks.leaking-fluids', $event)"
                  [ngClass]="[form.get('exterior-checks.leaking-fluids')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('exterior-checks.leaking-fluids')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
         </form>
      </mat-expansion-panel>
      <!-- End Exterior panel -->

      <!-- Under Hood Panel -->
      <mat-expansion-panel class="w-50 expansion-panel" (opened)="underHoodPanelState = true" (closed)="underHoodPanelState = false" hideToggle>
         <mat-expansion-panel-header style="height: 42px; padding: 0 8px;">
         <mat-panel-title style="margin: 0;">
               <div class="panel-title w-60">
                  <mat-icon *ngIf="underHoodPanelState === false" class="purple">add</mat-icon>
                  <mat-icon *ngIf="underHoodPanelState === true" class="purple">remove</mat-icon>
                  <span>Under Hood</span>
               </div>
               <!-- Custom radio buttons -->
               <div class="status w-40">
                  <!-- Checked, failed & NA -->
                  <form [formGroup]="form" class="status w-100">
                     <mat-radio-group class="status-group w-100" formControlName="under-hood-status">
                        <div class="radio-wrapper checked" (click)="changeStatus('checked', 'under-hood-status', $event)">
                           <mat-icon class="icon green" *ngIf="form.get('under-hood-status')?.value === 'checked'">check</mat-icon>
                        </div>
                        <div class="radio-wrapper failed" (click)="changeStatus('failed', 'under-hood-status', $event)">
                           <mat-icon class="icon red" *ngIf="form.get('under-hood-status')?.value === 'failed'">close</mat-icon>
                        </div>
                        <div class="radio-wrapper na" (click)="changeStatus('na', 'under-hood-status', $event)">
                           <mat-icon class="icon black" *ngIf="form.get('under-hood-status')?.value === 'na'">block</mat-icon>
                        </div>
                     </mat-radio-group>
                  </form>
               </div>
         </mat-panel-title>
         </mat-expansion-panel-header>

         <!-- Content -->
         <!-- Child custom radio buttons -->
         <form [formGroup]="form" class="content" >
            <!-- Vehicle Fluids -->
            <div class="status-inner" formGroupName="under-hood-checks"
               [ngClass]="[form.get('under-hood-checks.vehicle-fluids')?.value === 'checked' ? 'checked-row': '',
               form.get('under-hood-checks.vehicle-fluids')?.value === 'failed' ? 'failed-row': '',
               form.get('under-hood-checks.vehicle-fluids')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Vehicle Fluids</span>
               <mat-radio-group class="status-group" formControlName="vehicle-fluids">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'under-hood-checks.vehicle-fluids', $event)"
                  [ngClass]="[form.get('under-hood-checks.vehicle-fluids')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('under-hood-checks.vehicle-fluids')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'under-hood-checks.vehicle-fluids', $event)"
                  [ngClass]="[form.get('under-hood-checks.vehicle-fluids')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('under-hood-checks.vehicle-fluids')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'under-hood-checks.vehicle-fluids', $event)"
                  [ngClass]="[form.get('under-hood-checks.vehicle-fluids')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('under-hood-checks.vehicle-fluids')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
            <mat-divider class="divider"></mat-divider>
            <!-- /Engine Oil -->
            <!-- Coolant -->
            <div class="status-inner" formGroupName="under-hood-checks"
               [ngClass]="[form.get('under-hood-checks.windshield-fluid')?.value === 'checked' ? 'checked-row': '',
               form.get('under-hood-checks.windshield-fluid')?.value === 'failed' ? 'failed-row': '',
               form.get('under-hood-checks.windshield-fluid')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Windshield Fluids</span>
               <mat-radio-group class="status-group" formControlName="windshield-fluid">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'under-hood-checks.windshield-fluid', $event)"
                  [ngClass]="[form.get('under-hood-checks.windshield-fluid')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('under-hood-checks.windshield-fluid')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'under-hood-checks.windshield-fluid', $event)"
                  [ngClass]="[form.get('under-hood-checks.windshield-fluid')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('under-hood-checks.windshield-fluid')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'under-hood-checks.windshield-fluid', $event)"
                  [ngClass]="[form.get('under-hood-checks.windshield-fluid')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('under-hood-checks.windshield-fluid')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
            <!-- /Coolant -->
            <mat-divider class="divider"></mat-divider>
            <!-- Battery Connections -->
            <div class="status-inner" formGroupName="under-hood-checks"
               [ngClass]="[form.get('under-hood-checks.battery-connections')?.value === 'checked' ? 'checked-row': '',
               form.get('under-hood-checks.battery-connections')?.value === 'failed' ? 'failed-row': '',
               form.get('under-hood-checks.battery-connections')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Battery Connections</span>
               <mat-radio-group class="status-group" formControlName="battery-connections">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'under-hood-checks.battery-connections', $event)"
                  [ngClass]="[form.get('under-hood-checks.battery-connections')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('under-hood-checks.battery-connections')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'under-hood-checks.battery-connections', $event)"
                  [ngClass]="[form.get('under-hood-checks.battery-connections')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('under-hood-checks.battery-connections')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'under-hood-checks.battery-connections', $event)"
                  [ngClass]="[form.get('under-hood-checks.battery-connections')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('under-hood-checks.battery-connections')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
         </form>
      </mat-expansion-panel>
   </div>

   <!-- In Car -->
   <div class="expansion-panel-container" style="margin-right: 20px;">
      <mat-expansion-panel class="w-50 expansion-panel" (opened)="inCarPanelState = true" (closed)="inCarPanelState = false" hideToggle>
         <mat-expansion-panel-header style="height: 42px; padding: 0 8px;">
            <mat-panel-title style="margin: 0;">
                  <div class="panel-title w-60">
                     <mat-icon *ngIf="inCarPanelState === false" class="purple">add</mat-icon>
                     <mat-icon *ngIf="inCarPanelState === true" class="purple">remove</mat-icon>
                     <span>In Car</span>
                  </div>
                  <!-- Custom radio buttons -->
                  <div class="status w-40">
                     <!-- Checked, failed & NA -->
                     <form [formGroup]="form" class="status w-100">
                        <mat-radio-group class="status-group w-100" formControlName="in-car-status">
                           <div class="radio-wrapper checked" (click)="changeStatus('checked', 'in-car-status', $event)">
                              <mat-icon class="icon green" *ngIf="form.get('in-car-status')?.value === 'checked'">check</mat-icon>
                           </div>
                           <div class="radio-wrapper failed" (click)="changeStatus('failed', 'in-car-status', $event)">
                              <mat-icon class="icon red" *ngIf="form.get('in-car-status')?.value === 'failed'">close</mat-icon>
                           </div>
                           <div class="radio-wrapper na" (click)="changeStatus('na', 'in-car-status', $event)">
                              <mat-icon class="icon black" *ngIf="form.get('in-car-status')?.value === 'na'">block</mat-icon>
                           </div>
                        </mat-radio-group>
                     </form>
                  </div>
            </mat-panel-title>
         </mat-expansion-panel-header>

         <!-- Content -->
         <!-- Child custom radio buttons -->
         <form [formGroup]="form" class="content">
            <!-- Engine Oil -->
            <div class="status-inner" formGroupName="in-car-checks"
               [ngClass]="[form.get('in-car-checks.warning-lights')?.value === 'checked' ? 'checked-row': '',
               form.get('in-car-checks.warning-lights')?.value === 'failed' ? 'failed-row': '',
               form.get('in-car-checks.warning-lights')?.value === 'na' ? 'na-row' : '']">
               <span class="label">Warning Lights</span>
               <mat-radio-group class="status-group" formControlName="warning-lights">
                  <div class="radio-wrapper stateless" (click)="changeStatus('checked', 'in-car-checks.warning-lights', $event)"
                  [ngClass]="[form.get('in-car-checks.warning-lights')?.value === 'checked' ? 'checked' : 'stateless']">
                     <mat-icon class="icon green" *ngIf="form.get('in-car-checks.warning-lights')?.value === 'checked'">check</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('failed', 'in-car-checks.warning-lights', $event)"
                  [ngClass]="[form.get('in-car-checks.warning-lights')?.value === 'failed' ? 'failed' : 'stateless']">
                     <mat-icon class="icon red" *ngIf="form.get('in-car-checks.warning-lights')?.value === 'failed'">close</mat-icon>
                  </div>
                  <div class="radio-wrapper stateless" (click)="changeStatus('na', 'in-car-checks.warning-lights', $event)"
                  [ngClass]="[form.get('in-car-checks.warning-lights')?.value === 'na' ? 'na' : 'stateless']">
                     <mat-icon class="icon black" *ngIf="form.get('in-car-checks.warning-lights')?.value === 'na'">block</mat-icon>
                  </div>
               </mat-radio-group>
            </div>
         </form>

      </mat-expansion-panel>
   </div>

</div>

<!-- floating footer with textfield, operational vehicles radio buttons and rquires maintenance checkbox -->
<div class="footer-wrapper">
   <div class="footer">
      <form [formGroup]="form" class="w-100 operational-form">
         <mat-form-field appearance="outline" class="w-50 no-subscript">
            <textarea matInput placeholder="Notes" formControlName="notes" style="resize: none;"></textarea>
         </mat-form-field>
         <div class="operational-container w-50">
            <div class="operational">
               <mat-label class="label">Is this vehicle operational?</mat-label>
               <mat-radio-group class="radio-group" formControlName="operational">
                  <mat-radio-button [value]="true">Yes</mat-radio-button>
                  <mat-radio-button [value]="false">No</mat-radio-button>
               </mat-radio-group>
            </div>
            <div class="check-container">
               <mat-checkbox class="custom-checkbox" formControlName="requires-maintenance">Vehicle Requires Maintenance</mat-checkbox>
            </div>
         </div>
      </form>
   </div>
</div>