$deep-purple: #7154e4;
$faded-deep-purple: #e6e3ff;
$green: #36b455;
$faded-green: #e6f9ea;
$red: #a04752;
$faded-red: #ffd0d4ac;
$light-grey: #9E9E9E;
$faded-light-grey: #f3f3f3;
$gray: #444;
$black: #000000;